<html><head></head><body><section class="krok">
    <div class="container">
        <div class="krok__box">
            <h2 class="krok__box-title">Як проходить навчання у Bohonos English School</h2>
            <p class="krok__box-text">Обучение должно быть комфортным. Поэтому мы разработали собственную платформу для обучения программированию. На ней вы можете не только изучать теорию, но и запускать готовые примеры и даже писать свой собственный код.</p>
        </div>

        <ul class="krok__items">
            <li class="krok__item">
                <h3 class="krok__item-num">01</h3>
                <h4 class="krok__item-title">Діагностика та підбір програми</h4>
                <p class="krok__item-text">На старті ми визначаємо рівень дитини та підбираємо відповідну програму. Матеріал ділимо на невеликі логічні блоки, щоб дитині було легко орієнтуватися та бачити свій прогрес крок за кроком.</p>
            </li>
            <li class="krok__item">
                <h3 class="krok__item-num">02</h3>
                <h4 class="krok__item-title">Уроки в Zoom через ігри та практику</h4>
                <p class="krok__item-text">Кожен урок відбувається в Zoom з живим викладачем: діти грають, відповідають, виконують завдання з улюблених тем, одразу використовують нові слова в мові. Чим менше «зубрежки» і більше практики, тим швидше дитина починає говорити.</p>
            </li>
            <li class="krok__item">
                <h3 class="krok__item-num">03</h3>
                <h4 class="krok__item-title">Гнучкий графік та підтримка</h4>
                <p class="krok__item-text">Можна підібрати комфортний графік занять та поєднувати англійську з садком, школою та гуртками. Вчитель дає зворотний зв'язок після уроків, підтримує дитину та допомагає не втратити мотивацію вчитися далі.</p>
            </li>
        </ul>

        <div class="krok__obuchenie">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_n1vw-lr84KfxnieuegS11U-zNt3S4yoAr-uYHAuqQQ71RQ/viewform" class="krok__obuchenie-btn">Начать обучение</a>
            <p class="krok__obuchenie-text">Попробуйте, первые уроки бесплатны, но нужно пройти тестирование</p>
        </div>
    </div>
</section><script src="/krok.9d25fcc4.js"></script></body></html>