.header {
  padding: 83px 0 0;

  @media screen and (min-width: 728px) {
    padding: 90px 0px 20px 0px;
  }

  .container {
    position: fixed;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;

    @media screen and (max-width: 362px) {
      width: 100%;
    }

    @media screen and (min-width: 728px) {
      top: 20px;
    }
  }

  &__container {
    padding: 10px 14px 11px 14px;
    background: $header-bcg;
    border-radius: 75px;
    border: 2px solid burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 9;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 250ms;

    &:hover {
      opacity: 0.9;
    }

    &-text {
      color: $gray-color;
      font-size: 14px;
      font-weight: 700;
      width: 100px;
    }

    &-img {
      width: 35px;
      height: auto;
      display: block;

      @media screen and (min-width: 728px) {
        width: 45px;
      }
    }
  }



  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    color: $gray-color;
    font-size: 13px;
    font-weight: 400;
    line-height: 104.4%;
    text-decoration: none;
    position: relative;
    transition: width ease-in-out 250ms;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0%;
      border-radius: 2px;
      border-bottom: 2px solid $accent-color;
      transition: width ease-in-out 250ms;
    }

    &:hover {
      opacity: .8;

      &::after {
        width: 100%;
      }
    }
  }

  &__btn {
    color: $gray-color;
    border: 2px solid burlywood;
    border-radius: 5px;
    padding: 8px 10px;
    transition: 250ms;
    text-decoration: none;

    &:hover {
      background-color: burlywood;
      color: $gray-color;
    }
  }
}

@media screen and (max-width: 728px) {
  .header__nav {
    display: none;
  }
}