.header {
  padding: 13px 0 0;
  background-color: #fff;

  .container {
    padding-top: 10px;
    padding-bottom: 11px;
    background: $header-bcg;
    border-radius: 75px;
    border: 2px solid burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 250ms;

    &:hover {
      opacity: 0.9;
    }

    &-text {
      color: $gray-color;
      font-size: 14px;
      font-weight: 700;
      width: 100px;
    }

    &-img {
      width: 30px;
      height: auto;
      display: block;

      @media screen and (max-width: 728px) {
        width: 50px;
      }
    }
  }

  

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    color: #22253b;
    font-size: 13px;
    font-weight: 400;
    line-height: 104.4%;
    text-decoration: none;
  }

  &__btn {
    color: $gray-color;
    border: 2px solid burlywood;
    border-radius: 5px;
    padding: 8px 10px;
    transition: 250ms;
    text-decoration: none;

    &:hover {
      background-color: burlywood;
      color: $gray-color;
    }
  }
}

@media screen and (max-width: 728px) {
  .header__nav {
    display: none;
  }
}
