.hero {
  padding: 20px 0px 20px 0px;
  background-color: white;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;

    @media screen and (max-width: 728px) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    max-width: 480px;
  }

  &__title {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 18px;
  }

  &__subtitle {
    color: #222;
    font-size: 14px;
    margin-bottom: 12px;
  }

  &__note {
    color: #222;
    margin-bottom: 12px;
    font-size: 10px;
    line-height: 1.25;
  }

  &__link {
    color: #fff;
    background-color: #8b5b3d;
    border-radius: 9px;
    padding: 14px 28px;
    font-size: 15px;
    font-weight: 600;
    transition: 250ms;
    display: inline-flex;
    box-shadow: 0 10px 24px #0000002e;
    margin-top: 20px;

    &:hover {
      background-color: #8b5b3d;
    }
  }

  &__img {
    width: 35%;
    max-width: 360px;
    width: 100%;
    height: auto;
  }
}
