$white-bcg: #ffffff;
$black-bcg: #000000;
$header-bcg: rgba(255, 255, 255, 0.90);
$black-color: #ffffff;
$gray-transparent-color: #EAF2F5;

$gray-color: #22253B;
$accent-color: #F15525;

$blue-color: #5096FF;
$yellow-color: #FFB359;
$orange-color: #FF6F50;
$green-color: #4BD071;
$green-color: #50C0FF;
$light-blue-color: #50C0FF;
$dark-blue: #4B77B9;
$purple-color: #AF93FF;

$color-dark:   #222831;
$color-bg:     #f5f5f5;
$color-white:  #ffffff;
$color-text:   #222222;
$color-muted:  #777777;


$color-brand-cream:      #faefe4; 
$color-brand-cream-dark: #f1dec7; 
$color-brand-brown:      #5a3b2f; 
$color-brand-brown-soft: #8b5b3d; 

$why-us-bg:       #2e3437;    
$why-us-accent:   #ff5e5e;  
$why-us-accent-2: #18b48c;
$color-brand-cream-dark-bcg: rgb(241, 225, 208); 
$cards-learn-bg: #EAF2F5;