$white-bcg: #ffffff;
$black-bcg: #000000;
$header-bcg: rgba(255, 255, 255, 0.90);
$black-color: #ffffff;

$gray-color: #22253B;
$accent-color: #F15525;

$blue-color: #5096FF;
$yellow-color: #FFB359;
$orange-color: #FF6F50;
$green-color: #4BD071;
$green-color: #50C0FF;
$light-blue-color: #50C0FF;
$dark-blue: #4B77B9;
$purple-color: #AF93FF;