@import "./base/reset";
@import "./base/variables";
@import "./base/common";
@import "./base/container";

@import "./sections/header";
@import "./sections/main/hero";
@import "./sections/main/learn";
@import "./sections/main/krok";
@import "./sections/footer";

@import "./sections/main/menu";