.help {
  padding: 80px 0;
  border-bottom: 1px solid burlywood;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "a b b"
      "c c d";
    column-gap: 30px;
    row-gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;


    @media (max-width: 728px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__item {
    padding: 50px 40px;
    width: 100%;
    border-radius: 40px;
    background: #ffffff;
    min-height: 313px;
    padding: 50px 60px;
    box-sizing: border-box;
    display: flex;

    &:nth-child(1) {
      grid-area: a;
      padding: 15px 10px;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
      padding: 15px 10px;
    }

    // &:nth-child(4) {
    //   grid-column: span 2;
    // }

    @media (min-width: 728px) {
      &:first-child,
      &:nth-child(4) {
        padding: 15px 10px;
      }

      &:nth-child(2),
      &:last-child {
        padding: 50px 60px;
      }
    }
  }

  &__item--text {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    @media (max-width: 728px) {
      width: 100%;
    }
  }


  &__item--image {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }


  &__item-img {
    width: 100%;
    max-width: 440px;
    height: 240px;
    object-fit: contain;
    display: block;
  }

  &__item-title {
    margin-bottom: 20px;
    color: #22253B;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
  }

  &__item-text {
    max-width: 502px;
    color: #22253B;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
}