.help {
  padding: 80px 0;
  border-bottom: 1px solid burlywood ;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 30px;
    row-gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;


    @media (max-width: 728px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
  }

  &__item {
    border-radius: 40px;
    background: #ffffff;
    min-height: 313px;
    padding: 50px 60px;
    box-sizing: border-box;
    display: flex;

     @media (max-width: 728px) {
     width: 100%;   
    }
  }

  &__item--text {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


     @media (max-width: 728px) {
     width: 100%;   
    }
  }

 
  &__item--image {
    justify-content: center;
    align-items: center;

 @media (max-width: 768px) {
     width: 100%;   
    }

  }


  &__item-img {
    width: 100%;
    max-width: 440px;   
    height: 240px;      
    object-fit: contain;
    display: block;
  }

  &__item-title {
    margin-bottom: 20px;
    color: #22253B;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
  }

  &__item-text {
    max-width: 502px;
    color: #22253B;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
}



