<footer class="footer">
    <div class="container">
        <div class="footer__section">
            <a href="./index.html" class="footer__logo">
                <img src="./img/logo.png" alt="Логотип" class="footer__logo-img"><span class="footer__logo-text">Bohonos school</span>
            </a>
    
        </div>
        <div class="footer__section">
            <nav class="footer__nav">
                <ul class="footer__items">
                    <li class="footer__item">
                        <a href="/src/partials/main/learn.html" class="footer__item-link">Про школу</a>
                    </li>
                    <li class="footer__item">
                        <a href="/src/partials/main/learn.html" class="footer__item-link">Для кого</a>
                    </li>
                    <li class="footer__item">
                        <a href="/src/partials/main/krok.html" class="footer__item-link">Як проходять уроки</a>
                    </li>
                    <li class="footer__item">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_n1vw-lr84KfxnieuegS11U-zNt3S4yoAr-uYHAuqQQ71RQ/viewform" class="footer__item-link">Пробний урок</a>
                    </li>
                </ul>

                <ul class="footer__nums">
                    <li class="footer__num">
                        <a href="tel:380892919550" class="footer__num-link">+380 (89) 29 19 550</a>
                    </li>
                    <li class="footer__num">
                        <a href="mailto:bogonostanusa@gmail.com" class="footer__num-link">bogonostanusa@gmail.com</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>