<section class="help">
  <div class="container">
    <ul class="help__list">
      <li class="help__item help__item--image">
        <img src="/src/img/7510108.jpg" alt="" class="help__item-img" />
      </li>

      <li class="help__item help__item--text">
        <h2 class="help__item-title">Помощь и под<wbr>держка</h2>
        <p class="help__item-text">
          Если в процессе обучения возникнут сложности, вы всегда сможете задать вопрос своему наставнику.
          Раз в несколько уроков вы будете получать большое задание, которое нужно будет сдавать на проверку
          код-ревьюеру. Он внимательно изучит ваш код, найдёт ошибки и поможет вам стать лучше.
        </p>
      </li>

      <li class="help__item help__item--text">
        <h2 class="help__item-title">Методика обучения</h2>
        <p class="help__item-text">
          Весь учебный материал структурирован по принципу «спирального обучения». Сначала вы получаете базовые
          знания, а затем на каждом витке спирали углубляетесь в изученные темы, доводя их понимание до совершенства.
          Такой подход упрощает обучение и гарантирует, что вы не пропустите ничего важного.
        </p>
      </li>

      <li class="help__item help__item--image">
        <img src="/src/img/2003.i121.015_isometric_language_center_courses_set-02.jpg" alt="" class="help__item-img" />
      </li>
    </ul>
  </div>
</section>
