<section class="help">
  <div class="container">
    <ul class="help__list">
      <li class="help__item help__item--image">
        <img src="/src/img/7510108.jpg" alt="" class="help__item-img" />
      </li>
      <li class="help__item help__item--text">
        <h2 class="help__item-title">Допомога та <wbr>підтримка</h2>
        <p class="help__item-text">
          Якщо у процесі навчання виникнуть складності, ви завжди зможете поставити запитання своєму наставнику. Раз на кілька уроків ви отримуватимете велике завдання, яке потрібно буде здавати на перевірку код-ревьюєру. Він уважно вивчить ваш код, знайде помилки та допоможе вам стати кращим.
        </p>
      </li>

      <li class="help__item help__item--text">
        <h2 class="help__item-title">Методика навчання</h2>
        <p class="help__item-text">
       Весь навчальний матеріал структурований за принципом спірального навчання. Спочатку ви отримуєте базові знання, а потім на кожному витку спіралі заглиблюєтеся у вивчені теми, доводячи їхнє розуміння до досконалості. Такий підхід спрощує навчання та гарантує, що ви не пропустите нічого важливого.
        </p>
      </li>

      <li class="help__item help__item--image">
        <img src="/src/img/2003.i121.015_isometric_language_center_courses_set-02.jpg" alt="helper" class="help__item-img" />
      </li>
    </ul>
  </div>
</section>
