<section class="hero" id="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Англійська, яку діти чекають</h1>
      <p class="hero__subtitle">
        Bohonos English School — онлайн-школа англійської для дітей 5–18 років.
        Заняття у Zoom, багато розмовної практики та атмосфера, в якій дитина не
        боїться говорити.
      </p>
      <p class="hero__note">
        Весело, з любов’ю й результатом. Перший пробний урок — безкоштовно.
      </p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSe_n1vw-lr84KfxnieuegS11U-zNt3S4yoAr-uYHAuqQQ71RQ/viewform" class="hero__link">Записати на пробний урок</a>
    </div>
    <div class="hero__image-wrapper">
      <img
        src="/src/img/portrait-delighted-hipster-male-student-7-min.png"
        alt="man"
        class="hero__img"
      />
    </div>
  </div>
</section>
