<section class="hero" id="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Англійська, яку діти чекають</h1>
      <p class="hero__subtitle">
        Bohonos English School — онлайн-школа англійської для дітей 5–18 років.
        Заняття у Zoom, багато розмовної практики та атмосфера, в якій дитина не
        боїться говорити.
      </p>
      <p class="hero__note">
        Весело, з любов’ю й результатом. Перший пробний урок — безкоштовно.
      </p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc0M4c-Fh1f_K2qZgUUqa3S0VnEk7KnpwBDbPkgkt5XUXapmA/viewform?usp=dialog" class="hero__link" target="_blank">Записати на пробний урок</a>
    </div>
    <div class="hero__image-wrapper">
      <img
        src="/src/img/leader.png"
        alt="man"
        class="hero__img"
      />
    </div>
  </div>
</section>
