<section class="krok" id="krok">
    <div class="container">
        <div class="krok__box">
            <h2 class="krok__box-title">Як проходить навчання у Bohonos English School</h2>
            <p class="krok__box-text"></p>
        </div>
        <ul class="krok__items">
    <li class="krok__item">
        <h3 class="krok__item-num">01</h3>
        <h4 class="krok__item-title">Знайомство та стартова діагностика</h4>
        <p class="krok__item-text">
            Спочатку ми знайомимося з дитиною, визначаємо її рівень, інтереси та темп сприйняття. 
            На основі цього підбираємо програму: нічого зайвого, лише корисні теми та завдання, які дитині зрозумілі й цікаві. 
            Весь матеріал розбиваємо на невеликі етапи, щоб прогрес був помітний після кожного заняття.
        </p>
    </li>
    <li class="krok__item">
        <h3 class="krok__item-num">02</h3>
        <h4 class="krok__item-title">Живі онлайн-уроки в Zoom</h4>
        <p class="krok__item-text">
            Уроки проходять у Zoom з викладачем, який постійно залучає дітей до розмови. 
            Ми граємо, обговорюємо знайомі ситуації, дивимося завдання на екран та одразу використовуємо нові слова в мовленні. 
            Завдяки цьому англійська сприймається не як «урок», а як цікава активність.
        </p>
    </li>
    <li class="krok__item">
        <h3 class="krok__item-num">03</h3>
        <h4 class="krok__item-title">Комфортний графік та постійна підтримка</h4>
        <p class="krok__item-text">
            Ми допомагаємо обрати розклад, який пасує сім’ї: можна поєднувати англійську з садочком, школою та іншими гуртками. 
            Після занять батьки отримують короткий зворотний зв’язок, а дитина — підтримку й мотивацію рухатися далі без стресу та перевантаження.
        </p>
    </li>
</ul>
        <div class="krok__obuchenie">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc0M4c-Fh1f_K2qZgUUqa3S0VnEk7KnpwBDbPkgkt5XUXapmA/viewform?usp=dialog" class="krok__obuchenie-btn" target="_blank">Почати навчання</a>
            <p class="krok__obuchenie-text">Спробуйте перший урок безкоштовно</p>
        </div>
    </div>
</section>