<section class="learn">
    <div class="container">
        <h2 class="learn__title">Обучение в Bohonos – это удобно и результативно</h2>

        <ul class="learn__items">
            <li class="learn__item">
                <img src="#" alt="Картинка" class="learn__item-img">
                <h2 class="learn__item-title">Чому дітям цікаво з нами</h2>
                <p class="learn__item-text">Уроки побудовані в ігровому форматі: інтерактиви, вікторини.</p>
            </li>
            <li class="learn__item">
                <img src="#" alt="Картинка" class="learn__item-img">
                <h2 class="learn__item-title">Современные методики обучения</h2>
                <p class="learn__item-text">Спиральное обучение: погружаемся в материал постепенно, виток за витком</p>
            </li>
            <li class="learn__item">
                <img src="#" alt="Картинка" class="learn__item-img">
                <h2 class="learn__item-title">Простое и понятное изложение</h2>
                <p class="learn__item-text">Вместо заумных терминов – примеры из реального мира</p>
            </li>
            <li class="learn__item">
                <img src="#" alt="Картинка" class="learn__item-img">
                <h2 class="learn__item-title">Гибкий график занятий</h2>
                <p class="learn__item-text">Учитесь в любое время в удобном для вас темпе</p>
            </li>
            <li class="learn__item">
                <img src="#" alt="Картинка" class="learn__item-img">
                <h2 class="learn__item-title">Прямая связь с опытными программистами</h2>
                <p class="learn__item-text">Задавайте вопросы и отправляйте свой код на проверку</p>
            </li>
            <li class="learn__item">
                <img src="#" alt="Картинка" class="learn__item-img">
                <h2 class="learn__item-title">Оплата небольшими частями</h2>
                <p class="learn__item-text">Платите только за тот материал, который сейчас изучаете, а не за весь курс сразу</p>
            </li>
            <li class="learn__item">
                <img src="#" alt="Картинка" class="learn__item-img">
                <h2 class="learn__item-title">Быстрый и легкий возврат</h2>
                <p class="learn__item-text">Если передумаете учиться – вернем деньги за 3 рабочих дня</p>
            </li>
        </ul>
    </div>
</section>