<div class="backdrop is-hidden" data-modal-header>
  <div class="backdrop__inner">
    <div class="backdrop__top">
      <a class="header__logo" href="./">
        <img src="./img/logo.png" alt="logo" class="header__logo-img" />
      </a>

      <button
        class="backdrop__close"
        type="button"
        aria-label="Закрыть меню"
        data-modal-header-close
      >
        ✕
      </button>
    </div>

    <nav class="backdrop__nav">
      <ul class="backdrop__list">
        <li class="backdrop__item">
          <a class="backdrop__link" href="#hero">Про школу</a>
        </li>
        <li class="backdrop__item">
          <a class="backdrop__link" href="#learn">Для кого</a>
        </li>
        <li class="backdrop__item">
          <a class="backdrop__link" href="#krok">Як проходять уроки</a>
        </li>
        <li class="backdrop__item">
          <a class="backdrop__link" href="https://docs.google.com/forms/d/e/1FAIpQLSe_n1vw-lr84KfxnieuegS11U-zNt3S4yoAr-uYHAuqQQ71RQ/viewform" target="_blank">Пробний урок</a>
        </li>
        <li class="backdrop__item">
          <a class="backdrop__link backdrop__link--btn" href="https://docs.google.com/forms/d/e/1FAIpQLSe_n1vw-lr84KfxnieuegS11U-zNt3S4yoAr-uYHAuqQQ71RQ/viewform" target="_blank">Звязатись</a>
        </li>
      </ul>
    </nav>
  </div>
</div>